%dt
  = locals[:day].day_of_week + ", " + locals[:day].date
%dd
  %ul
    %li.low-temp
      = "Low: #{locals[:day].low} "
    %li.high-temp
      = "High: #{locals[:day].high}"
    %li.condition
      = locals[:day].text


%dl
  - @results[:days].each do |day|
    = haml :'days/_day_component', locals: { :day => day}




  
