%h2.blue_text
  = "Forecast for #{@results[:location]}"
.row
  .col.s10.m8.offset-m2.offset-s1
    .card
      .card-image
        %img{src: "images/sky.jpg", class: "responsive-img"}
        %span.card-title Today
      .card-content.grey-text.text-darken-4
        - today = @results[:days].shift
        %p
          = "Expect #{today.text}"
        %ul
          %li.high-temp
            = "High: #{today.high}"
          %li.low-temp
            = "Low: #{today.low}"
      .card-action.grey.lighten-2
        %i.material-icons visibility

  - @results[:days].each do |day|
    = haml :'days/_day_component', locals: { :day => day}
